gym==0.21.0
keras==2.9.0
matplotlib==3.5.2
mlagents_envs==0.28.0
numpy==1.23.1
pandas==1.4.3
sb3_contrib==1.6.2
stable_baselines3==1.6.2
tensorflow==2.9.1
torch==1.12.1+cu116
protobuf==3.20.3
argparse
